* {
  font-family: 'Lato', sans-serif;
}

nav {
  height: 10rem;
  width: 100%;
  left: 10px;
  right: 10px;
  background-color: #3A3F46;
}

h1 {
  color: #4D4D4D;
  font-size: 40px;
  font-weight: 400;
  margin: 24px;
}

.right-nav-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.account_circle, .share, .shares, .views, .view-count {
  color: white;
}

.arrow_drop_down, .admin-username, .format_list_bulleted, .perm_identity, .attach-count {
  color: #29A2DF;
}

.playlists, .personal-vids {
  color: gray;
}

.nav-buttons-container {
  width: 28rem;
  margin-top: 2rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blippy-logo {
  position: absolute;
  height: 7rem;
  width: 9rem;
  right: 1rem;
  top: 3rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.card {
  height: 30rem;
  width: 20rem;
  box-shadow: 0 0 10px #888888;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.top-card-container {
  display: flex;
  justify-content: space-between;
  height: 30%;
}

.material-icons.reply {
  background: white;
  color: #4D4D4D;
  font-size: 40px;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  line-height: 64px;
  text-align: center;
  margin-left: 12px;
  margin-top: 12px;
  transform: scaleX(-1);
}

.view-container {
  padding-top: 15px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.views {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 12px;
}

.view-count {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 300;
}

.bottom-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
  padding-left: 20px;
  padding-right: 20px;
}

.recipiname, .card-url, .url-box, .card-playlist, .playlist-name, .attachments {
  color: #5F5F5F;
}

.recipiname {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 0;
}

.card-date {
  color: #B1B2B6;
  margin-top: 0;
}

.url-box {
  height: 3rem;
  background-color: #EFEFEF;
  word-wrap: break-word;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 14px;
}

.card-url {
  padding: 10px;
  font-size: 14px;
}

.card-playlist {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}

.playlist-name {
  margin-top: 0;
  font-size: 18px;
  font-weight: 400;
}

.attachments {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0;
}

.attach-count {
  margin-top: 0;
  font-size: 36px;
  line-height: 36px;
}

.card1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(harold/harold1.jpeg);
  background-size: cover;
}

.card2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(harold/harold2.jpeg);
  background-size: cover;
}

.card3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(harold/harold3.jpeg);
  background-size: cover;
}

.card4 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(harold/harold4.jpeg);
  background-size: cover;
}

.card5 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(harold/harold5.jpeg);
  background-size: cover;
}

.card6 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(harold/harold6.jpeg);
  background-size: cover;
}

.card7 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(harold/harold7.jpeg);
  background-size: cover;
}

.card8 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(harold/harold8.jpeg);
  background-size: cover;
}

